/*For the website name*/
h1 {
    font-family: serif;
    font-size : 22pt;
    color : #534C47;
}

/*For login and sign up*/
h3 {
    font-family: serif !important;
    font-size : 40pt !important;
    color : #6C645D !important;
    margin-bottom: 5px !important;
    font-weight: bold !important;
}

p {
    font-family: serif;
    font-size : 16pt;
    color : #6C645D;
}

div {
    font-family: serif;
}

.container {
    width: 100%;
}

.header-area {
    padding: 25px 0 0 0;
}

.header-top {
    padding: 30px 18px 0 0;
}

.header-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin-right: 75px;
}

.header-icon-action {
    width: 100%;
    max-width: 100px;
    text-align: center;
    margin-top: 17px;
}

.header-icon-action img {
    height: 35px;
}

.header-icon-action span {
    font-size: 14pt;
}

.paragraph-body {
    margin: 20px;
    padding: 0 30px;
}

a {
    text-decoration: none;
    color: #6C645D;
}

.icon-text {
    display: block;
}

.header-bottom {
    background-color: #fff;
    border-top: 1px solid #6C645D;
    border-bottom: 1px solid #6C645D;
}

/*Navigation panel*/
.sticky-bar {
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    left: 0;
    background: #fff;
}

.header-nav {
    align-items: center;
    display: flex;
    color: #6C645D;
}

.dropdown {
    overflow: hidden;
    width: 100%;
}

/* Dropdown button */
.dropdown .dropbtn {
    width: 100%;
    font-size: inherit;
    border: none;
    outline: none;
    color: white;
    text-align: center;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
    height: 50px
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #6C645D;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    width: 25%;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #B6B6B6;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}


.main-menu {
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

.header-nav li {
    float: left;
    width: 25%;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none !important;
}

ul a {
    text-decoration: none !important;
}

li a:hover {
    background-color: #111111;
}

.section-padding {
    padding: 25px 0;
}

.middle-search-section {
    background-color: #6C645D;
    border-radius: 20px;
    padding: 40px 25px;
    margin: 5px 2%;
}
.section-title h3 {
    font-size: 20px;
    color: white;
    margin: 0;
}

.middle-search-inner {
    background-color: white;
    padding: 25px;
    font-size: 22px;
    height: 50px;
    margin: 30px 35px 0 35px;
    border-radius: 20px;
}

.middle-search-content {
    display: block;
}

.middle-text-p {
    margin: 15px;
}

.middle-text {
    border-style: groove;
    margin: auto;
    width: 33%;
    float: left;
    height: 60px;
    text-align: center;
}

.middle-search-text {
    width: 97%;
    height: 80%;
    border: none !important;
    text-align: center;
    margin-top: 9px;
}

.middle-search-text::-webkit-input-placeholder {
    font-family: serif;
    font-size: 20px;
    line-height: 3;
    font-style: italic;
}

input:focus::placeholder {
    opacity: 0;
}

select optgroup {
    font-family: serif;
    font-size: 25px;
}

/*Account*/
.account-card {
    position: relative;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #ececec;
    border-radius: .25rem;
}

.account-card .account-card-header {
    padding: 1rem;
    margin-bottom: 0;
    /*border-bottom: 1px solid #ececec;*/
    background-color: white;
    border: none !important;
}

.account-card-body {
    flex:1 1 auto;
    padding: 1% 10rem;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group input {
    background: #fff;
    border: 1px solid #ececec;
    height: 50px;
    padding-left: 20px;
    font-size: 16px;
    width: 100%;
}

.account-card-body a {
    color: olivedrab;
}

.login_footer {
    margin-bottom: 50px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.btn {
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    padding: 15px 40px;
    background-color: #6C645D;
    border-radius: 10px;
    letter-spacing: 1px;
    border: 1px solid #6C645D;
    text-align: center;
}


.font-xs {
    font-size: 13px;
}

.text-muted {
    color: #B6B6B6 !important;;
}

/*About us page*/
.about-us-img {
    text-align: center;
    margin: 0;
    padding: 0;
}

/*Contact us page*/
.contact-us-img{
    text-align: center;
    margin: 0;
    padding: 0;
}

section h3 {
    font-family: serif;
    font-size : 32pt;
    color : #6C645D;
    margin-bottom: 5px !important;
}

/*account page*/
.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #796D59;
    border-color: #796D59;
}

.sticky-bar .container-fluid {
    width: 100%;
    padding: 0;
    margin-right: auto;
    margin-left: auto;
    border: none !important;
}

.container-fluid .dropdown {
    position: inherit;
}

.header-area-xl {
    margin: 6% 20px 20px 20px;
    flex: 1 1 auto;
    text-align: center;
    padding: 0 0 0 100px;
}
.header-area-make-review {
    margin: 6% 20px 20px 20px;
    flex: 1 1 auto;
    text-align: center;
}

.list-inline {
    padding-left: 0;
    list-style: none;
    background-color: white !important;
}

@media only screen and (min-width: 992px) {
    .sticky-bar .container {
        /*max-width: 960px;*/
        padding: 0;
        margin: 0;
        width: 100%; !important;
    }

    .col-lg-1-5 {
        width: 20%;
    }

    .col-lg-2-5 {
        width: 40%;
    }

    .col-lg-3-5 {
        width: 60%;
    }

    .col-lg-4-5 {
        width: 80%;
    }

    .col-lg-5-5 {
        width: 100%;
    }

    .header-action-right {
        display: flex;
        align-items: center;
    }

}

img {
    vertical-align: top;
}

span {
    font : Georgia;
    font-size : 16pt;
    color : #534C47;
    text-decoration: none;
}

.Column {
    float : left;
    width : 31%;
}

.Row::after {
    content : "";
    clear : both;
    display : table;
}